.home {
  height: 100vh;
  position: relative;
}

.header {
    background: linear-gradient(to right, #005aa7, #fffde4);
}

.bodyVideo {
  background-color: white;
  /* background: linear-gradient(to right, #ece9e6, #ffffff); */
  border-top:2px solid black;
  border-right: 2px solid black;
}

.gif-size {
  max-height: auto;
  min-width: 70vh;
  max-width: 90vh;
  border: 2px solid #434343;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
}

.loupeSVG {
  width: 23px;
  padding: 0;
}

.thumbnailList {
  margin: 0;
  padding: 0;
}

.gif-img-thumbnail {
  padding: 10px;
  border: 2px solid white;
  margin: 10px;
  max-width: 200px;
}

.gif-li-thumbnail {
  margin: auto;
}



.gif-li {
  margin: 0;
}

li {
  list-style: none;
}



.bodyButton {
  background: linear-gradient(to top, #005aa7, #fffde4);

}

input {
  padding: 5px;
  font-size: 1em;
}



.modal {
  position: absolute;
  z-index: 100;
  bottom: 0;
  font-size: 2.5em;
  color: white;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, .9);
}

.modal button {
  margin-left: 20px;
}
