.home {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "header"
                       "body";
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-area: header;
}



.footer {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "svgArrowBack gifs svgArrowNext";
  align-items: center;
}



.thumbnailList {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: nowrap;
  grid-area: gifs;
  margin-left: 30px;
}

.body {
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 80px;
}

.bodyVideo {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.bodyButton {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;

}

.thumbnailLI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.svgArrowBack {
  background-image: url('../icons/back.svg');
  background-repeat: no-repeat;
  padding: 50px;
  border: none;
  border-radius: 50px 50px;
  grid-area: svgArrowBack;
}
.svgArrowNext {
  background-image: url('../icons/next.svg');
  background-repeat: no-repeat;
  margin: 5px;
  padding: 50px;
  border: none;
  border-radius: 50px 50px;
  grid-area: svgArrowNext;

}
