/*
@media only screen and (min-width: 320px) {
  body {
    overflow-y: hidden;
  }

  .home {
    grid-template-rows: 80px 1fr;
  }

  .thumbnailLI {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
  }

  .thumbnailList {
    padding: 0;
    margin: 0;
  }

  .footer {
    margin:  0;
  }

  .body {
    grid-template-columns: 1fr 50px;
  }
}


@media only screen and (min-width: 412px) {
  body {
    overflow-y: hidden;
  }

  .home {
    grid-template-rows: 80px 1fr;
  }

  .thumbnalLI {
    width: 150px;
    height: 120px;
    padding: 0;
  }

  .thumbnailList {
    padding: 0;
  }

  .footer {
    margin:  0;
  }

  .body {
    grid-template-columns: 1fr 50px;
  }

}

@media only screen and (min-width: 760px) {

  .thumbnailLI {
    width: 180px;
    height: 150px;
    margin: 30px;
  }

  .body {
    grid-template-columns: 1fr 80px;
  }

  .home {
    grid-template-rows: 80px 1fr;
  }

}

@media only screen and (min-width: 1024px) {

  .thumbnailLI {
    width: 200px;
    height: 200px;
    margin: 30px;
  }

  .body {
    grid-template-columns: 1fr 100px;
  }

  .home {
    grid-template-rows: 80px 1fr;
  }

} */
